.project {
    background: var(--cardColor);
}

.projectBodyContent {
    background: var(--contentBody);
    padding: 1rem 0;
}

.projectBody {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
    width: 90%;
    margin: 0rem auto;
}

.projectBody .newProjectSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.projectBody .newProjectSection .newProjectInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    gap: 0.5rem;
}

.project .newProjectSection .newProjectInfo p {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    display: flex;
    font-size: 18px;
    word-spacing: 2px;
}

.project .newProject {
    position: relative;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project .newProject::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url('../../../assets/images/projectBg.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    border-radius: 25px;
}

.project .addNewProject {
    display: flex;
    padding: 3rem;
    border-radius: 15px;
    position: relative;
}

.project .addNewProject .addProjectContainer {
    display: none;
    background: var(--cardColor);
    padding: 3rem;
    border-radius: 15px;
    box-shadow: var(--profileShadow);
    transition: all 100ms ease-in-out;
}

.project .addNewProject .addProjectContainer.show {
    display: flex;
    transition: all 100ms ease-in-out;
}

.project .addNewProject .addProjectContainer .addProjectSubContainer {
    position: relative;
    background-image: url('../../../assets//images/addProjectBg.png');
    width: 200px;
    height: 200px;
}

.project .addNewProject .addProjectContainer .addProjectSubContainer .projectIcons {
    position: absolute;
    top: 30%;
    left: 25%;
    font-size: 30px;
}

.project .addNewProject .beginProject {
    display: none;
    flex-direction: column;
    gap: 1rem;
    transition: all 100ms ease-in-out;
    background: var(--cardColor);
    padding: 3rem;
    justify-content: center;
    align-items: center;
    box-shadow: var(--profileShadow);
    border-radius: 25px;
}

.project .addNewProject .beginProject.show {
    display: flex;
    transition: all 100ms ease-in-out;
}

.project .addNewProject .beginProject .itemOneBtns {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.project .projects {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.project .projects .publicProjectHeading {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 85%;
    margin: 0 auto;
    
}

.project .projects .publicProjectHeading .halfHr {
    width: 40%;
    border-bottom: 2px solid var(--black);
}

.project .projects .publicProjectHeading .tag {
    padding: 0.5rem 1rem;
    background: lightcoral;
    border-radius: 15px;
}

.project .projects .publicProjectHeading .tag h5 {
    text-transform: uppercase;
    word-spacing: 2px;
}

.countCardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.countCardContainer .countCard {
    border-radius: 0px 20px 20px 0px;
    display: flex;
    padding: 1.5rem;
    gap: 2rem;
    background: var(--cardColor);
}

.countCardContainer .countCard .left {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.countCardContainer .countCard .left p {
    font-weight: bold;
    color: var(--gray);
}

.countCardContainer .countCard .right {
    display: flex;
    justify-content: center;
    align-items: center;
}